<!-- Testimonial Start -->
<div class="container-fluid py-5" id="testimonial">
    <div class="container py-5">
        <div class="section-title position-relative text-center" style="margin-bottom: 120px;">
            <h6 class="text-uppercase text-primary mb-3" style="letter-spacing: 3px;">Testimonios</h6>
            <h1 class="display-4">Calidad de atención</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="owl-carousel testimonial-carousel">
                    <div class="text-center">
                        <img class="img-fluid mx-auto mb-3" src="assets/images/testimonial-1.jpg" style="width: 100px;">
                        <p style="font-size: 22px;">Vea los resultados de nuestra última encuesta de satisfacción de cliente y testimonios de nuestros grandes clientes acerca de cómo alcanzar relaciones ...</p>
                        <h4>Mauro Ibañez</h4>
                        <span>Ceo</span>
                    </div>
                    <div class="text-center">
                        <img class="img-fluid mx-auto mb-3" src="assets/images/testimonial-2.jpg" style="width: 100px;">
                        <p style="font-size: 22px;">Los acoplamientos de mangueras hidráulicas desempeñan un papel vital en conexión de mangueras hidráulicas a diversos componentes hidráulicos.</p>
                        <h4>7h0n Doule</h4>
                        <span>FullStack jr.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- Testimonial End -->
