<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Oleohidraulica Ramirez</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">Reseña</span>
              </button>
          </div>
          <div class="modal-body">
              <img class="img-fluid mb-4" src="assets/images/carousel-1.jpg" alt="">
              <p>En Oleohidráulica Ramírez, nos enorgullece ofrecerte soluciones avanzadas en tecnología hidráulica. Nuestra gama de bombas hidráulicas, válvulas direccionales y válvulas de presión Rexroth está diseñada para ofrecerte un rendimiento superior y una confiabilidad excepcional. 🌟</p>
              <p> estamos comprometidos a ofrecerte soluciones de alta calidad con nuestra gama de productos Livenza. Descubrí la diferencia con nuestras bombas hidráulicas y válvulas direccionales, diseñadas para maximizar el rendimiento de tus equipos. 🌟</p>
              <p>nos enorgullece ofrecerte la mejor tecnología en bombas hidráulicas de circuito abierto y cerrado de la reconocida marca Sauer Danfoss. 🌟</p>
              <p>Asesoramiento personalizado, amplia variedad de productos y entrega rápida. ¡Contáctanos para más información!</p>
              <p>Los productos Venturi que te ofrecemos:
                  🔘Bombas hidráulicas a engranajes: Diseñadas para proporcionar un flujo de aceite constante y preciso, ideales para una amplia gama de aplicaciones tanto agrícolas como viales.
                  🔘Válvulas de comando: Permiten controlar el flujo y la presión del aceite hidráulico, esenciales para el funcionamiento de tu maquinaria.
                  🔘Motores orbitales: Ofrecen una alta potencia y eficiencia, perfectos para impulsar movimientos rotatorios en maquinaria.
                  🔘Unidades de dirección hidráulicas: Proporcionan un control preciso y suave de la dirección de tu maquinaria, garantizando una conducción segura y eficiente.</p>
              <p>Especialistas en la venta de bombas para transmisiones hidráulicas de servicio pesado. Confiabilidad, durabilidad y eficiencia para tus equipos industriales y agrícolas. </p>
          </div>
      </div>
  </div>
</div>
<!-- Modal -->
