<!-- Team Start -->
<div class="container-fluid py-5" id="team">
    <div class="container py-5">
        <div class="section-title position-relative text-center">
            <h6 class="text-uppercase text-primary mb-3" style="letter-spacing: 3px;">Trabajos</h6>
            <h1 class="font-secondary display-4">Reparación de Maquinas Viales, Agrícolas y Logística.</h1>
        </div>
        <div class="row justify-content-lg-start m-0 mb-4 pb-2 mb-sm-0 pb-sm-0">
            <div class="col-lg-6 p-0">
                <div class="row m-0">
                    <div class="col-sm-6 p-0 text-center">
                        <div class="h-100 d-flex flex-column justify-content-center bg-secondary p-4">
                            <h5 class="mb-2">REPARACION</h5>
                            <p class="text-muted font-italic mb-2">Maquinaria Agricola</p>
                            <p>Trabajos de prevención en bomba hidráulica,valvulas direccionales,mangueras de presion.</p>
                            <div class="position-relative mb-2">
                                <a class="btn btn-outline-primary btn-square mr-1" href="#"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-outline-primary btn-square mr-1" href="#"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-outline-primary btn-square mr-1" href="#"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 p-0" style="min-height: 300px;">
                        <img class="position-absolute w-100 h-100" src="assets/images/team-1.jpg" style="object-fit: cover;">
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-lg-end m-0 mb-4 pb-2 mb-sm-0 pb-sm-0">
            <div class="col-lg-6 p-0">
                <div class="row m-0">
                    <div class="col-sm-6 p-0" style="min-height: 300px;">
                        <img class="position-absolute w-100 h-100" src="assets/images/team-2.jpg" style="object-fit: cover;">
                    </div>
                    <div class="col-sm-6 p-0 text-center">
                        <div class="h-100 d-flex flex-column justify-content-center bg-secondary p-4">
                            <h5 class="mb-2">BANCO DE PRUEBAS</h5>
                            <p class="text-muted font-italic mb-2">Para fluidos oleohidráulicos</p>
                            <p>Ensayo para válvulas, mangueras y recipientes a presión</p>
                            <div class="position-relative mb-2">
                                <a class="btn btn-outline-primary btn-square mr-1" href="#"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-outline-primary btn-square mr-1" href="#"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-outline-primary btn-square mr-1" href="#"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-lg-start m-0 mb-4 pb-2 mb-sm-0 pb-sm-0">
            <div class="col-lg-6 p-0">
                <div class="row m-0">
                    <div class="col-sm-6 p-0 text-center">
                        <div class="h-100 d-flex flex-column justify-content-center bg-secondary p-4">
                            <h5 class="mb-2">Terminales de acople </h5>
                            <p class="text-muted font-italic mb-2">Manguera hidráulicas</p>
                            <p>Terminales y accesorios hidráulicos de alta calidad enfocados en sistemas hidráulicos de maquinarias agrícolas y viales.</p>
                            <div class="position-relative mb-2">
                                <a class="btn btn-outline-primary btn-square mr-1" href="#"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-outline-primary btn-square mr-1" href="#"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-outline-primary btn-square mr-1" href="#"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 p-0" style="min-height: 300px;">
                        <img class="position-absolute w-100 h-100" src="assets/images/team-3.jpg" style="object-fit: cover;">
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-lg-end m-0">
            <div class="col-lg-6 p-0">
                <div class="row m-0">
                    <div class="col-sm-6 p-0" style="min-height: 300px;">
                        <img class="position-absolute w-100 h-100" src="assets/images/team-4.jpg" style="object-fit: cover;">
                    </div>
                    <div class="col-sm-6 p-0 text-center">
                        <div class="h-100 d-flex flex-column justify-content-center bg-secondary p-4">
                            <h5 class="mb-2">Torneria</h5>
                            <p class="text-muted font-italic mb-2">Servicios de Torneria en General</p>
                            <p>Equipamiento tecnológico. Excelente Calidad y gran Capacidad de servicios.</p>
                            <div class="position-relative mb-2">
                                <a class="btn btn-outline-primary btn-square mr-1" href="#"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-outline-primary btn-square mr-1" href="#"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-outline-primary btn-square mr-1" href="#"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- Team End -->