<!-- About Start -->
<div class="container-fluid py-5" id="about">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <img class="img-fluid mb-4 mb-lg-0" src="assets/images/about.jpg" alt="">
            </div>
            <div class="col-lg-7">
                <h6 class="text-uppercase text-primary mb-3" style="letter-spacing: 3px;">Sobre nosotros</h6>
                <h1 class="display-4 mb-3"><span class="text-primary">+25 años de experiencia</span>
                     Aportando Potencia oleohidráulica</h1>
                <p>En Oleohidráulica Ramírez, nos enorgullece ofrecerte la mejor tecnología en bombas hidráulicas de circuito abierto y cerrado de la reconocida marca Sauer Danfoss.
                    ¡Descubrí la potencia y eficiencia de las bombas hidráulicas Sauer Danfoss con Oleohidráulica Ramírez.
                    Beneficios de nuestras bombas hidráulicas.
                     Eficiencia energética ; ahorra energía con sistemas optimizados.
                     Durabilidad; diseñadas para un rendimiento duradero y confiable.
                     Versatilidad; ideales para una amplia gama de aplicaciones industriales.
                </p>
                <a class="btn btn-primary font-weight-bold py-3 px-5 mt-2" type="button" data-toggle="modal" data-target="#exampleModalLong">Leer mas</a>
            </div>
        </div>
    </div>
  </div>
  <!-- About End -->